<span class="ratings">
    <i class="fa fa-star-o" (click)="getClickedElement1()"  [style.color]="colors1" aria-hidden="true"></i>
    <i class="fa fa-star-o" (click)="getClickedElement2()"  [style.color]="colors2" aria-hidden="true"></i>
    <i class="fa fa-star-o" (click)="getClickedElement3()"  [style.color]="colors3" aria-hidden="true"></i>
    <i class="fa fa-star-o" (click)="getClickedElement4()"  [style.color]="colors4" aria-hidden="true"></i>
    <i class="fa fa-star-o" (click)="getClickedElement5()"  [style.color]="colors5" aria-hidden="true"></i>
</span>
